*{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 60px;
}

.bodyCards{
  display: flex;
  flex-wrap: wrap;
}

.card{
  max-height: 250px;
  width: 40%;
  min-width: 500px;
  margin: 20px 10px;
  background-color: rgb(228, 228, 228);
}

.card img{
  height: 100%;
  width: 100%;
}
